<article class="post">
    <header>
        <h1>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
    </header>
    
    {{ post.content }}
    
    {% if isPostLayout %}
        <footer>    
            <p>
            	Posted by {{ site.author.name }} on <time pubdate="pubdate">{{ post.date | date('Y-m-d') }}</time>
            </p>

            {% if post.terms_url.tags | length > 0 or post.terms_url.categories | length > 0 %}
            <ul class="list-unstyled">
                {% if post.terms_url.tags | length > 0 %}
                    <li>
                        <i class="fa fa-tags"></i>
                        {% for tag, url in post.terms_url.tags %}
                            <a href="{{ site.url }}{{ url }}">{{ tag }}</a>{% if loop.last == false %},{% endif %} 
                        {% endfor %}
                    </li>
                {% endif %}
                {% if post.terms_url.categories | length > 0 %}
                    <li>
                        <i class="fa fa-folder"></i>
                        {% for category, url in post.terms_url.categories %}
                            <a href="{{ site.url }}{{ url }}">{{ category }}</a>{% if loop.last == false %},{% endif %} 
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
            {% endif %}
        </footer>

        {% if (page.comments is defined and page.comments) or (page.comments is not defined and site.comments.enabled) %}
            <section>
                <h3>Comments</h3>
                <div id="disqus_thread"></div>
                <noscript>
                    Please enable JavaScript to view the
                    <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                </noscript> 
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
        {% endif %}
    {% endif %}
</article>
