<ul class="list-inline">
    {% if site.author.twitter %}
    <li>
        <a href="https://twitter.com/{{ site.author.twitter }}">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.author.facebook %}
    <li>
        <a href="{{ site.author.facebook }}">
            <i class="fa fa-facebook-square fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.author.linkedin %}
    <li>
        <a href="{{ site.author.linkedin }}">
            <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.author.gplus %}
    <li>
        <a href="{{ site.author.gplus }}">
            <i class="fa fa-google-plus-square fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.author.github %}
    <li>
        <a href="{{ site.author.github }}">
            <i class="fa fa-github fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.author.bitbucket %}
    <li>
        <a href="{{ site.author.bitbucket }}">
            <i class="fa fa-bitbucket fa-2x"></i>
        </a>
    </li>
    {% endif %}
    
    {% if site.author.youtube %}
    <li>
        <a href="https://twitter.com/{{ site.author.youtube }}">
            <i class="fa fa-youtube fa-2x"></i>
        </a>
    </li>
    {% endif %}
</ul>
