<meta charset="utf-8">
<title>{{ page.title | default(site.title) }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.description | default(site.description) }}">
<meta name="author" content="{{ site.author.name }}">

{% if site.owner.twitter %}
{% if page.image_feature %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ page.image_feature }}">
{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">
{% endif %}
<meta name="twitter:title" content="{{ page.title | default(site.title) }}">
<meta name="twitter:description" content="{{ page.description | default(site.description) }}">
<meta name="twitter:creator" content="@{{ site.author.twitter }}">
{% endif %}

<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ page.title | default(site.title) }}">
<meta property="og:description" content="{{ page.description | default(site.description) }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

{% if site.google_verify %}
<meta name="google-site-verification" content="{{ site.google_verify }}">
{% endif %}
{% if site.bing_verify %}
<meta name="msvalidate.01" content="{{ site.bing_verify }}">
{% endif %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="/res/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/res/style.css" rel="stylesheet" media="screen">