---
layout: page
title: Welcome
generator: pagination
provider: 'site.posts'
max_page: 1
mode: 'items'
---
{% if page.mode == 'list' %}
    <div class="page-header">
        <h1>Blog <small>posts</small></h1>
    </div>
    {% include "posts-list.html" with { posts: site.posts } %}

    {% if site.posts | length < 1 %}
        <p>Until now, there is no posts. :(</p>
    {% endif %}
{% else %}
    {% for post in page.pagination.items %}
        {% include "post.html" %}
    {% endfor %}
    
    {% if page.pagination.items | length < 1 %}
        <div class="page-header">
          <h1>Welcome <small>to the blog</small></h1>
        </div>
        <p>Until now, there is no posts. :(</p>
    {% endif %}

{% endif %}

{% if page.pagination.total_pages > 1 %}
    <ul class="pagination">
		{% if page.pagination.previous_page %}
			<li>
                <a class="prev" href="{{ site.url }}/{%if page.pagination.previous_page > 1 %}page{{ page.pagination.previous_page }}/{% endif %}">
                    &laquo; Newer
                </a>
            </li>
		{% endif %}

		{% for page in (1..page.pagination.total_pages) %}
			{% if page == page.pagination.page %}
				<li><span class="active">{{ page }}</span></li>
			{% else %}
				<li><a href="{{ site.url }}/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
			{% endif %}
		{% endfor %}

		{% if page.pagination.next_page %}
			<li><a href="{{ site.url }}/page{{ page.pagination.next_page }}/">Older &raquo;</a></li>
		{% endif %}
	</ul>
{% endif %}