---
layout: "page"
title: "My projects"
generator: "pagination"
provider: "site.projects"
max_page: 9
---
<div class="page-header">
        <h1>My <small>projects</small></h1>
    </div>
<div class="row">
	{% for project in page.pagination.items %}
		<div class="col-md-4 project-box">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
					<p>{{ project.description }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% include "paginator.html" %}
